p{
    font-size: 20px;
}
.mission{
    color: coral;
}
.next-button{
    text-decoration: none;
    background-image:linear-gradient(rgb(235, 45, 12),rgb(226, 131, 146)) ;
    margin-top:5px;
    padding: 5px 20px;
    border-radius: 5px;
    color: whitesmoke;
    font-size: medium;
    margin-top: 10px;
    font-size: 20px;
}
section{
    display: flex;
    padding: 50px;
    margin-left: 30px;
    font-size: 15px;
}
.about{
    width: 50%;
    padding: 10px;
    margin: 30px;
}
.about img{
    width: 80%;
    margin: 0;
}
#my-miss{
    border-left:3px solid ;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
    margin-right:2px ;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 50px;
}
#miss{
    text-align: center;
    color: rgb(80, 7, 80);
    font-size: 40px;
    margin: 0px;
}
.destrination{
    background-color: rgb(238, 250, 233);
    border-radius: 10px;
    padding: 50px;
    width: 30%;
}
.vission{
    background-color: rgb(219, 217, 248);
    border-radius: 10px;
    padding: 50px;
    width: 30%;
}
.goal{
    background-color: rgb(250, 214, 219);
    border-radius: 10px;
    padding: 50px;
    width: 30%;
}
.mission-vission-goal{
    padding: 30px;
    margin: 0px;
}
.for-bold{
    font-size: 50px;
}
.separatre{
    margin: 0;
    padding: 0;
}
.fotter-section{
    background-color: rgb(13, 16, 37);
    color: white;
    text-align: center;
    height: 100px;
    padding: 10px;
}
.fotter-section h3{
    color: thistle;
}
#Build{
    color: black;
    text-align: center;
    font-size: 40px;
